/* General styles for the entire website */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

header nav a {
    margin: 0 10px;
}



/*footer started*/

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
.email-link{
    text-decoration: none;
    text-underline-position: unset;
    text-transform: none;
    text-anchor: unset;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-box {
    flex: 1 1 300px;
    padding: 0 20px;
}

.footer-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.footer-credits {
    text-align: center;
    margin-top: 20px
    font-size: 14px;
}

.footer-credits span {
    font-weight: bold;
}

/*footer ended*/


